RewriteEngine on
RewriteCond %{HTTP_REFERER} !^http(s)?://(www\.)?dollarmob.com [NC]
RewriteRule \.(css)$ - [NC,F,L]
RewriteEngine On
RewriteCond %{HTTP_HOST} ^www\.dollarmob\.com [NC]
RewriteRule ^(.*)$ http://dollarmob.com/$1 [L,R=301]

RewriteRule ^reffer aff.php [L]
RewriteRule ^wallarea wall.php [L]
RewriteRule ^send/(.*) send.php?act=$1 [L]
RewriteRule ^ucweb ucweb.php [L]
RewriteRule ^user/registration register.php [L]
RewriteRule ^user/login login.php [L]
RewriteRule ^show-publishers show-pub.php [L]
RewriteRule ^show-advertisers show-adv.php [L]
RewriteRule ^user/terms terms.php [L]
RewriteRule ^user/logout logout.php [L]
RewriteRule ^user/dashboard dashboard.php [L]
RewriteRule ^f.a.q faq.php [L]
RewriteRule ^contact contact.php [L]
RewriteRule ^user/forgot forgot.php [L]
RewriteRule ^request request.php [L]
RewriteRule ^gainadbalance gainadbalance.php [L]
RewriteRule ^clicks_details/(.*) clicks.php?page=$1 [L]
RewriteRule ^invoices/(.*) invoices.php?page=$1 [L]
RewriteRule ^transfer-from-publisher transfe.php [L]
RewriteRule ^advertise advertise.php [L]
RewriteRule ^sites sites.php [L]
RewriteRule ^editsite/(.*) editsite.php?id=$1 [L]
RewriteRule ^edadv/(.*) edadv.php?id=$1 [L]
RewriteRule ^delad/(.*) delad.php?id=$1 [L]
RewriteRule ^paadv/(.*) pausead.php?id=$1 [L]
RewriteRule ^aff/(.*) register.php?refer=$1 [L]
RewriteRule ^deletesite/(.*) deletesite.php?id=$1 [L]
RewriteRule ^viewsite/(.*) viewsite.php?id=$1 [L]
RewriteRule ^adcode/(.*) adcode.php?id=$1 [L]
RewriteRule ^adv/(.*) adv.php?id=$1 [L]
RewriteRule ^payments-proof proof.php [L]
RewriteRule ^affearn affearn.php [L]
RewriteRule ^ucpromo ucpromo.php [L]
RewriteRule ^ucreport ucreport.php [L]
RewriteRule ^newsite newsite.php [L]
RewriteRule ^newad newad.php [L]
RewriteRule ^myaccount myaccount.php [L]
RewriteRule ^edit_account editaccount.php [L]
RewriteRule ^change_password changepassword.php [L]
RewriteRule ^support-ticket tickets.php [L]
RewriteRule ^newticket newticket.php [L]
RewriteRule ^ticket/(.*) ticket.php?id=$1 [L]
RewriteRule ^hotzone demoad.php [L]
RewriteRule ^buy-(.*) buy.php?method=$1 [L]
RewriteRule ^news/(.*) news.php?id=$1 [L]
RewriteRule ^view/(.*) view_topic.php?id=$1 [L]
RewriteRule ^verify/(.*)/(.*) verify.php?id=$1&token=$2 [L]
RewriteRule ^reset/(.*)/(.*) reset.php?email=$1&token=$2 [L]
RewriteRule ^adstat/(.*)-(.*) adstat.php?id=$1&page=$2 [L]
RewriteRule ^im(.*).jpg img.php [L]
RewriteRule ^stats stats.php [L]

ErrorDocument 404 /404.php
ErrorDocument 402 /404.php
ErrorDocument 403 /404.php
ErrorDocument 500 /404.php
